:root{
    --color: #000333; 
}
*{
    border: 1px solid black;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.outer{
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 20%;
}
nav ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
}
nav ul li a button{
    color: #fff;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#post-section{
    margin: 0 auto;    
    padding: 20px;
    background-color: var(--color);
    color: azure;   
}
.container{
    flex: 1;
}

#post-thing{
    width: 80%;
    margin: 0 auto;
}
#post-thing #post{
    margin: 0 auto;
    display: block;
    width: 90%;
}
#post-thing .post-btn{
    display: block;
    width: 60px;
    margin: 0 auto;
    background-color: aqua;
}
.post-text{
    text-align: center;
}
.profile{
    background-image: url("profile.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 1px solid blue;
    height: 50px;
    width: 50px;
}
.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.content{
    width: 50%;
}
.contents{
    width: 50%;
    margin: 0 auto
}
.image-post{
    width: 100%;
    height: 500px;
}
.options{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.options button{
    padding: 5px;
    font-size: 1.5rem;
}